.languages-container {
    background: #eeeeee;
    text-align: center;
    min-height: 800px;
    display: block;
    padding-top: 20px;
}

.languages-item {
    float: left;
    width: 50%;
    height:5%;
    background: whitesmoke;
}